.three-dot-loader {
  display: flex;
  flex-direction: row;
}

.dot-loader {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  animation: 1.2s grow ease-in-out infinite;
}

.dot-loader--2 {
  animation: 1.2s grow ease-in-out infinite 0.15555s;
  margin: 0 20px;
}
.dot-loader--3 {
  animation: 1.2s grow ease-in-out infinite 0.3s;
}

@keyframes grow {
  0%,
  40%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
