.ex2 {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray);
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--gray-dark);
  transition: .4s;
}

.checked + .slider {
  background-color: var(--white);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary);
}

.checked + .slider:before {
  transform: translateX(26px);
  background-color: var(--teal);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.state {
  padding: 5px;
  justify-self: center;
}
